// color variables

$primarycolor:#0872b9;
$secondarycolor:#353535;
$othercolor:#f1f1f1;
$paragraphcolor:#555555;

// font-family variables

$opensans:'Open Sans', sans-serif;
$oswaldbold:'Oswald', sans-serif;
$myriadpro:'myriad-regular';

// font-size variables

$headingfontsize:40px;
$aboutfontsize:24px;
$paragraphfontsize:13px;
$subheadingfontsize:16px;
$btnfontsize:14px;

// section gapping variables

$sectiongap:60px;
$subsectiongap:50px;

